<%/**
 * footer.ejs
 *
 * Student Name: Ronald Saenz
 * Student Id: 301218602
 * Due Date: Feb 05, 2022
 *
 * @link   footer.ejs
 * @file   This file defines the partial view to include the page's footer which includes my name, youtube video link and the github repo of the project.
 * @author Ronald Saenz <rsaenzh@my.centennialcollege.ca>
 * @since  1.0.0
 */%>
 
 <footer class="main-footer">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
            <p class="text-gradient-02">Design By <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/ronald-saenz/?locale=en_US">Ronald Saenz</a></p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://youtu.be/mIj2CPXTII8">Youtube Tutorial - Assigment #1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://youtu.be/7Jl7vJ3NPcI">Youtube Tutorial - Assigment #2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/ronaldsaenz88/MyPortfolioRS">Github Repo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/ronald-saenz/?locale=en_US">LinkedIn</a>
                </li>
            </ul>
        </div>
    </div>
</footer>