<!-- Begin Header -->
<header class="header">
    <nav class="navbar fixed-top">
        <!-- Begin Topbar -->
        <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
            <!-- Begin Logo -->
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <div class="brand-image brand-big">
                        <img src="/images/elisyam-theme/img/logo-rs-dark.png" alt="logo" style="width: 70px;" class="logo-big">
                    </div>
                    <div class="brand-image brand-small">
                        <img src="/images/elisyam-theme/img/logo-rs-dark.png" alt="logo" class="logo-small">
                    </div>
                </a>
                <!-- Toggle Button -->
                <a id="toggle-btn" href="#" class="menu-btn active">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <!-- End Toggle -->
            </div>
            <!-- End Logo -->
        </div>
        <!-- End Topbar -->
    </nav>
</header>
<!-- End Header -->