<%/**
 * preloader.ejs
 *
 * Student Name: Ronald Saenz
 * Student Id: 301218602
 * Due Date: Feb 05, 2022
 *
 * @link   preloader.ejs
 * @file   This file defines the partial view to include the preloader which displays the logo of the page.
 * @author Ronald Saenz <rsaenzh@my.centennialcollege.ca>
 * @since  1.0.0
 */%>
 
 <!-- Begin Preloader -->
<div id="preloader">
    <div class="canvas">
        <img src="/images/elisyam-theme/img/logo-rs.png" alt="logo" class="loader-logo">
        <div class="spinner"></div>   
    </div>
</div>
<!-- End Preloader -->