<%/**
 * sidebar.ejs
 *
 * Student Name: Ronald Saenz
 * Student Id: 301218602
 * Due Date: Feb 05, 2022
 *
 * @link   sidebar.ejs
 * @file   This file defines the partial view to include the sidebar that displays the menu on the left of the page.
 * @author Ronald Saenz <rsaenzh@my.centennialcollege.ca>
 * @since  1.0.0
 */%>
 
 <!-- Begin Side Navbar -->
<nav class="side-navbar box-scroll sidebar-scroll">
    <!-- Begin Main Navigation -->
    <ul class="list-unstyled">
        <li>
            <a href="/">
                <i class="la la-home"></i><span>Home</span>
            </a>
        </li>
        <li>
            <a href="/about">
                <i class="la la-info"></i><span>About Me</span>
            </a>
        </li>
        <li>
            <a href="/projects">
                <i class="la la-folder-open"></i><span>Projects</span>
            </a>
        </li>
        <li>
            <a href="/services">
                <i class="la la-suitcase"></i><span>Services</span>
            </a>
        </li>
        <li>
            <a href="/contact">
                <i class="ion-email"></i><span>Contact Me</span>
            </a>
        </li>
    </ul>
    <!-- End Main Navigation -->
</nav>
<!-- End Side Navbar -->