<!-- Begin Side Navbar -->
<nav class="side-navbar box-scroll sidebar-scroll">
    <!-- Begin Main Navigation -->
    <ul class="list-unstyled">
        <li>
            <a href="/">
                <i class="la la-home"></i><span>Home</span>
            </a>
        </li>
        <li>
            <a href="/about">
                <i class="la la-info"></i><span>About Me</span>
            </a>
        </li>
        <li>
            <a href="/projects">
                <i class="la la-folder-open"></i><span>Projects</span>
            </a>
        </li>
        <li>
            <a href="/services">
                <i class="la la-suitcase"></i><span>Services</span>
            </a>
        </li>
        <li>
            <a href="/contact">
                <i class="ion-email"></i><span>Contact Me</span>
            </a>
        </li>
    </ul>
    <!-- End Main Navigation -->
</nav>
<!-- End Side Navbar -->